[submodule "frontend"]
	path = frontend
	url = https://github.com/hylmithecoder/inventory_system_with_ai_agentic_frontend
[submodule "backend"]
	path = backend
	url = https://github.com/hylmithecoder/inventory_system_with_ai_agentic_backend
